body {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    background-color: #2e2e2e;
}

h6 {
    font-size: 15px;
    margin-left: 85px;
    margin-top: 25px;
}

footer {
    color: #aaaaaa;
}

a {
    text-decoration: none;
    color: #aaaaaa;
}

a:hover {
    color: #aaaaaa;
}

/*ID*/

#white {
    color: #EAECDF;
}

#blue {
    color: #3E8BB6;
}

#yellow {
    color: #C0A659;
}

#red {
    color: #DB4D3D;
}

#black {
    color: #676D75;
}

#lilac {
    color: #9E86B5;
}

#h1 {
    font-size: 80px;
    margin-left: 190px;
    font-size: 90px;
    line-height: 0px;
    color: #E3EDFB;
}
#h11 {
    font-size: 80px;
    margin-left: 550px;
    align-self: center;
    font-size: 90px;
    line-height: 0px;
    color: #E3EBF8;
}

#start {
    color: #eaeaea;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    word-spacing: 320px;
}
#start2 {
    color: #5d6169;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    word-spacing: 20px;
}
#start22 {
    color: #5d6169;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    word-spacing: 320px;
}
#start3 {
    color: #0e0e0e;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    word-spacing: 320px;
}

#title1 {
    color: #E3EDFB;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

#title2 {
    color: #E3EDFB;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

#title3 {
    color: #E3EDFB;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

#shape {
    border-radius: 100%;
    width: 380px;
    float: left;
    margin-left: 75px;
    margin-top: 53px;
}

#shape2 {
    border-radius: 100%;
    width: 380px;
    float: left;
    margin-left: 75px;
    margin-top: 0px;
}

#shape3 {
    border-radius: 10%;
    width: 380px;
    float: left;
    margin-left: 75px;
    margin-top: 75px;
}

#shape4 {
    border-radius: 10%;
    width: 320px;
    float: left;
    margin-left: 75px;
    margin-top: 35px;
}

#shape5 {
    border-radius: 10%;
    width: 380px;
    float: left;
    margin-left: 75px;
    margin-top: 20px;
}

#about {
    color: #E3EBF8;
    opacity: 100%;
    font-size: 25px;
    margin-left: 30px;
    line-height: 0px;
}

#about3 {
    color: #E3EBF8;
    opacity: 100%;
    font-size: 25px;
    margin-left: 30px;
    line-height: 0px;
}

#about4 {
    color: #E3EBF8;
    opacity: 100%;
    font-size: 25px;
    margin-left: 30px;
    line-height: 0px;
}

#about5 {
    color: #E3EBF8;
    opacity: 100%;
    font-size: 25px;
    margin-left: 30px;
    line-height: 0px;
}

#about2 {
    color: #E3EBF8;
    opacity: 100%;
    font-size: 25px;
    margin-left: 250px;
    line-height: 0px;
    padding-bottom: 140px;
}

#name {
    font-size: 80px;
    margin-left: 190px;
    padding-top: 100px;
    font-size: 90px;
    line-height: 0px;
    color: #E3EDFB;
}

#header-base {
    background-color: #181818;
    height: 5vh;
    text-align:center;
    padding-left: 65px;
    font-size: 40px;
    letter-spacing: 60px;
    color: #B8C1CF;
    line-height: 4px;
}

#header-project {
    height: 5vh;
    text-align: center;
    font-size: 70px;
    color: #B8C1CF;
    line-height: 0px;
}

#divide {
    height: 6px;
    width: 1300px;
    margin-left: 55px;
}

#divide2 {
    height: 6px;
    width: 1300px;
    margin-left: 55px;
    margin-top: 35px;
}

/*CLASS*/

.info1 {
    color: #eaeaea;
    line-height: 35px;
    font-size: 40px;
    margin-left: 70px;
    margin-right: 70px;
    text-align: center;
}

.info2 {
    color: #B8C1CF;
    line-height: 35px;
    font-size: 40px;
    margin-left: 70px;
    margin-right: 70px;
    text-align: center;
}
.info22 {
    color: #5d6169;
    line-height: 35px;
    font-size: 40px;
    margin-left: 70px;
    margin-right: 70px;
    text-align: center;
}
.info3 {
    color: #B8C1CF;
    line-height: 35px;
    font-size: 40px;
    margin-left: 70px;
    margin-right: 70px;
    text-align: center;
}
.info22 {
    color: #5d6169;
    line-height: 35px;
    font-size: 40px;
    margin-left: 70px;
    margin-right: 70px;
    text-align: center;
}
.info33 {
    color: #0e0e0e;
    line-height: 35px;
    font-size: 40px;
    margin-left: 70px;
    margin-right: 70px;
    text-align: center;
}

.infoc {
    color: #E3EBF8;
    line-height: 28px;
    font-size: 20px;
    text-align: center;
}

.div {
    background-color: #83888F;
    margin: auto;
    outline: 10px solid #83888F;
    padding: 50px 50px 20px 50px;
}

.div2 {
    background-color: #83888F;
    margin: auto;
    outline: 10px solid #83888F;
    padding: 50px 50px 20px 50px;
}

.div3 {
    background-color: #83888F;
    margin: auto;
    outline: 10px solid #83888F;
    padding: 50px 50px 20px 50px;
}

.proj {
    filter: grayscale(100%);
    -webkit-filter: grayscale (100%);
    border-radius: 25px;
}

.proj:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale (0%);
}

.container-text {
    margin-left: 550px;
}
.container-text1 {
    align-self: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;      
    margin-top: 30px;
}
  
.item {
    flex: 0 0 auto;
}

.item p {
    aspect-ratio: 4 / 3;
    width: 260px;      
    height: auto;    
    object-fit: cover;     
    border-radius: 12px;
  }

.container2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  
.item2 {
    text-align: center;
  }
  
.item2 img {
    width: fixed;
    height: 100px;
    border-radius: 25px;
  }
  
.item2 p {
    margin-top: 25px;
    font-size: 25px;
    color: #B8C1CF;
    padding-bottom: 50px;
  }

.imgY {
    width: 100%; 
    max-width: 900px; 
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
}

.textY {
    color: #E3EBF8;
    line-height: 48px;
    font-size: 40px;
    margin-left: 150px;
    margin-right: 270px;
    margin-top: -80px;

}.textx {
    color: #E3EBF8;
    line-height: 48px;
    font-size: 30px;
    margin-left: 150px;
    margin-right: 270px;
    margin-top:20px;
}

.button {
    background-color: #83888F;
    color: #EAF2FF;
    border: solid;
    border-radius: 100px;
    stroke: #EAF2FF 0.1px;
    padding: 20px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-left: 300px;
}


.button2 {
    background-color: #181818;
    color: #EAF2FF;
    border: solid;
    border-radius: 100px;
    stroke: #EAF2FF 0.1px;
    padding: 20px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-left: 600px;
}

.Arrow {
    color: #E3EBF8;
    position: fixed;
    bottom: 20px; 
    line-height: 28px;
    font-size: 60px;
    margin-left: 80px;
    text-align: left;
}.Arrow3 {
    color: #181818;
    position: fixed;
    bottom: 20px; 
    line-height: 28px;
    font-size: 60px;
    margin-left: 80px;
    text-align: left;
}
.Back {
    color: #E3EBF8;
    line-height: 28px;
    font-size: 60px;
    margin-left: 80px;
    text-align: center;
}.Back3 {
    color: #181818;
    line-height: 28px;
    font-size: 60px;
    margin-left: 80px;
    text-align: center;
}

.grid-container2 {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)); 
    column-gap: 30px; 
    row-gap: 30px; 
    justify-items: start; 
    width: max-content; 
    margin: 0 auto; 
    padding: 0;
}

.grid-container2 {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 30px;
    justify-content: center;
}

.proj {
    width: 420px;             
    aspect-ratio: 4 / 3;      
    object-fit: cover;        
    border-radius: 12px;
    display: block;
}

.text {
    color: #E3EBF8;
}

.grid-container3 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); 
    column-gap: 0px; 
    row-gap: 30px; 
    justify-items: start; 
    width: 70%; 
    margin: 0 auto; 
}

.grid-item3 {
    display: flex; 
    align-items: flex-start; 
}

.grid-item3 img {
    width: 432px; 
    height: auto; 
    display: block; 
}

.grid-item3 p {
    color: #E3EBF8;
    line-height: 28px;
    font-size: 20px;
    margin: 0; 
}
#title1, 
#about3, 
#about {
    text-align: center;
}
.info, .info2 {
    color: #E3EBF8;
    line-height: 28px;
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}